@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/*Primary*/
		--BrightBlue: hsl(220, 98%, 61%);
		--CheckBackground: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
		/*Light Theme*/
		--VeryLightGray: hsl(0, 0%, 98%);
		--VeryLightGrayishBlue: hsl(236, 33%, 92%);
		--LightGrayishBlue: hsl(233, 11%, 84%);
		--DarkGrayishBlue: hsl(236, 9%, 61%);
		--VeryDarkGrayishBlue: hsl(235, 19%, 35%);
		/*Dark Theme*/
		--VeryDarkBlue: hsl(235, 21%, 11%);
		--VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
		--LightGrayishBlue: hsl(234, 39%, 85%);
		--LightGrayishBluehover: hsl(236, 33%, 92%);
		--DarkGrayishBlue: hsl(234, 11%, 52%);
		--VeryDarkGrayishBlue: hsl(233, 14%, 35%);
		--VeryDarkGrayishBlue: hsl(237, 14%, 26%);
	}
	html {
		font-size: 62.5%;
	}
	body {
		@apply font-jakarta text-lg font-medium;
	}
	main {
		@apply transition-all duration-1000 ease-in-out;
	}
	.lightMode {
		background-image: url("../public/img/bg-desktop-light.jpg");
		background-repeat: no-repeat;
		background-position: top;
		background-position-x: center;
		background-color: var(--VeryLightGray);
		color: var(--DarkGrayishBlue);
	}
	.darkMode {
		background-image: url("../public/img/bg-desktop-dark.jpg");
		background-repeat: no-repeat;
		background-position: top;
		background-position-x: center;
		background-color: var(--VeryDarkBlue);
		color: var(--DarkGrayishBlue);
	}
	.inputLight {
		background-color: var(--VeryLightGray);
		color: var(--DarkGrayishBlue);
	}
	.inputDark {
		background-color: var(--VeryDarkDesaturatedBlue);
		color: var(--DarkGrayishBlue);
	}
	@media (width <= 375px) {
		.lightMode {
			background-image: url("../public/img/bg-mobile-light.jpg");
		}
		.darkMode {
			background-image: url("../public/img/bg-mobile-dark.jpg ");
		}
	}
}
